
.main_wrapper{
  position: relative;
  transition-duration: 500ms;
  left: 0;
  background-color: #000;
  
  
}

.hide{
  left: 100%;
}

.select_wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select_item{
  width: 300px;
  height: 350px;
  border: none;
  margin: 20px;
  padding-top: 300px;
  color: #fff;
}

.select_item:hover{
  border: 1px solid #fff;
}
/*
.main_bottom{
  display: flex;
  justify-content: center;
}

.button{
  width: 300px;
  height: 100px;
  border: 1px solid #000;
}
*/

.multi_player{
  background: url('../ratalien/assets/img/button-online.png') no-repeat 0 0/contain;
}

.single_player{
  background: url('../ratalien/assets/img/button-single.png') no-repeat 0 0/contain;
}
